<nav class="sticky top-0 z-50 bg-white shadow-sm px-6 py-3 flex items-center justify-between">
  <a
    routerLink="/"
    class="flex items-center space-x-2 text-xl md:text-2xl font-normal leading-snug text-gray-800 font-serif cursor-pointer"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="w-4 h-4 md:w-5 md:h-5 xl:w-6 xl:h-6 text-emerald-400 fill-current"
    >
      <path
        d="M12 21s-7-5.686-7-10.143C5 7.143 7.239 5 10 5c1.306 0 
             2.417.835 3 2.09C13.583 5.835 14.694 5 16 5c2.761 
             0 5 2.143 5 5.857C19 15.314 12 21 12 21z"
      />
    </svg>
    <span>My Family Table</span>
  </a>
</nav>
